{% extends 'base.html' %}

{% block body %}
<div class="container">
    </br>
    <h2>誕生日が近い順</h2>
    <a class="btn btn-info btn-lg m-5" href="/create" role="button">CREATE NEW PROFILE</a>
    <a class="btn btn-danger btn-sm" href="/count" role="button">count</a>
    <a class="btn btn-primary btn-sm" href="/ranking_hobby" role="button">趣味ランキング</a>
    <a class="btn btn-warning btn-sm" href="/ranking_destination" role="button">行き先ランキング</a>
    <a class="btn btn-success btn-sm" href="/nearbirthday" role="button">誕生日近い順</a>
    <a class="btn btn-secondary btn-sm" href="/zyoken" role="button">条件検索</a>

    <p>タグ検索</p>
    <form method="POST" action="{{ url_for('search_hobby') }}">
        <input type="text" name="search_term" placeholder="search tags">
        <button type="submit">Search</button>
    </form>
</br>
    {% for b,count in nears %}
    <div class="card w-50 mb-3" style="margin: auto;">
        <div class="card-body">
            {% if b.birthday.date() == today %}
            <div class="alert alert-primary" role="alert">
                今日は誕生日です！
            </div>
            {% endif %}

            {% if b.birthday_md=="02-29" %}
            {% if uru == False %}
            {% if md=="03-01" %}
            <div class="alert alert-primary" role="alert">
                今日は誕生日です！
            </div>
            {% endif %}
            {% endif %}
            {% endif %}

            {% if b.sodan1 != "" %}
            <div class="alert alert-warning" role="alert">
                相談あり
            </div>
            {% endif %}

            <h2 class="card-name">{{ b.name }}</h2>
            <p>誕生日：{{ b.birthday.date() }}　年齢：{{b.age}}歳</p>
            <a class="btn btn-secondary btn-sm" href="/detail/{{ b.id }}" role="button">Detail</a>
            <a class="btn btn-success btn-sm" href="/update/{{ b.id }}" role="button">Update</a>
            <a class="btn btn-danger btn-sm" href="/delete/birthday/{{ b.id }}" role="button">Delete</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}