{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h2>{{post_id.name}}と趣味の共通数が多い順</h2>
    <a class="btn btn-info btn-lg m-5" href="/create" role="button">CREATE NEW PROFILE</a>
    <a class="btn btn-danger btn-sm" href="/knowledges" role="button">tags</a>
    <a class="btn btn-danger btn-sm" href="/count" role="button">count</a>
    <!--{{same_counts}}
    {{sames}}-->
    {% for same,count in same_counts %}
    <div class="card w-50 mb-3" style="margin: auto;">
        <div class="card-body">
            {% if same.birthday.date() == today %}
            <div class="alert alert-warning" role="alert">
                今日は誕生日です！
            </div>
            {% endif %}

            {% if same.sodan1 != "" %}
            <div class="alert alert-warning" role="alert">
                相談あり
            </div>
            {% endif %}

            <h2 class="card-name">{{ same.name }}</h2>
            <p>誕生日：{{ same.birthday.date() }}　年齢：{{same.age}}歳</p>
            <p>一致数：{{count}}</p>
            <a class="btn btn-secondary btn-sm" href="/detail/{{ same.id }}" role="button">Detail</a>
            <a class="btn btn-success btn-sm" href="/update/{{ same.id }}" role="button">Update</a>
            <a class="btn btn-danger btn-sm" href="/delete/{{ same.id }}" role="button">Delete</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}