{% extends 'base.html' %}

{% block body %}



<!--<div class="form-group pb-3">
    <label for="name">名前 : </label>
    <input type="text" class="form-control" name="name" aria-describedby="name-help">
    <small id="name-help" class="form-text text-muted">名前を入力してください。</small>
</div>-->

{% if results %}
    <h2>Results</h2>
    <h4>入力ワード : <span style="color:red;">{{search_term}}</span><a class="btn btn-outline-success btn-lg m-5" href="/" role="button">Return</a></h4>
    <ul>
        {% for item in results %}
            <li><a href="{{ url_for('search_tag2', tag=item)}}">{{ item }}</a></li>
    </br>
        {% endfor %}
    </ul>
{% else %}
<h4>入力ワード:<span style="color:red;">{{search_term}}</span></h4>
    <h4>No results found</h4>
    <a class="btn btn-outline-success btn-lg m-5" href="/" role="button">Return</a>
{% endif %}


{% endblock %}




