{% extends 'base.html' %}

{% block body %}



<!--<div class="form-group pb-3">
    <label for="name">名前 : </label>
    <input type="text" class="form-control" name="name" aria-describedby="name-help">
    <small id="name-help" class="form-text text-muted">名前を入力してください。</small>
</div>-->

{% if results %}
    <h2>Results</h2>
    <p>入力ワード:{{search_term}}</p>
    <ul>
        {% for item in results %}
            <li><a href="{{ url_for('search_tag', tag=item)}}">{{ item }}</a></li>
            
        {% endfor %}
    </ul>
{% else %}
    <p>No results found</p>
{% endif %}


{% endblock %}




