{% extends "base.html"%}

{% block body %}


<h2 class="mt-4"><span style="color:red;">{{tag}}</span> というタグを登録している人達</h2>
<h4>ヒット数：<span style="color:red;">{{count}}</span><a class="btn btn-outline-success btn-lg m-5" href="/" role="button">TOP</a></h4>
<hr>
{% for post in search_posts %}
  <div class="d-flex align-items-center">
    <h2 class="p-5">・{{ post.name }}</h2>
    <a class="btn btn-secondary btn-sm" href="/detail/{{ post.id }}" role="button">Detail</a>
    <div class="p-2">
    <br/>
    hobby1:{{ post.hobby1}}<br/>
    hobby2:{{ post.hobby2}}<br/>
    hobby3:{{ post.hobby3}}<br/>
    hobby4:{{ post.hobby4}}<br/>
    hobby5:{{ post.hobby5}}<br/>
    </div>
  </div>
  <hr>

{% endfor %}


{% endblock %}
