{% extends 'base.html' %}

{% block body %}
<h2 class="m-5">編集</h2>
<form class="m-5" action="/update/{{ post.id }}" method="POST">
    <a class="btn btn-outline-primary" href="/detail/{{post.id}}" role="button">Return</a>
    <button type="submit" class="btn btn-primary">Change</button>

    <div class="form-group pb-3">
        <label for="title">名前 : </label>
        <input type="text" class="form-control" name="name" aria-describedby="name-help" value={{ post.name }}>
    </div>

    <div class="form-group pb-3">
        <label for="birthday">誕生日 : </label>
        <input type="date" name="birthday" value={{ post.birthday.date() }} required>
    </div>

    <!--性別を選択してもらう-->
    <div class="form-group pb-3">
        <label for="sex">性別 : </label>
        {% if post.sex=="女性" %}
            <input type="radio" name="sex" value="男性"> 男性
            <input type="radio" name="sex" value="女性" checked="checked"> 女性
            <input type="radio" name="sex" value="無回答"> 無回答
        {% endif %}
        {% if post.sex=="男性" %}
            <input type="radio" name="sex" value="男性" checked="checked"> 男性
            <input type="radio" name="sex" value="女性"> 女性
            <input type="radio" name="sex" value="無回答"> 無回答
        {% endif %}
        {% if post.sex=="無回答" %}
            <input type="radio" name="sex" value="男性"> 男性
            <input type="radio" name="sex" value="女性"> 女性
            <input type="radio" name="sex" value="無回答" checked="checked"> 無回答
        {% endif %}
        {% if post.sex=="" %}
            <input type="radio" name="sex" value="男性"> 男性
            <input type="radio" name="sex" value="女性"> 女性
            <input type="radio" name="sex" value="無回答"> 無回答
        {% endif %}
    </div>

    <!--出身地を入れてもらう-->
    <div class="form-group pb-3">
        <!--
        <label for="syussinti">出身地 : </label>
        <input type="text" class="form-control" name="syussinti" value={{ post.syussinti }}>
        -->
        <label for="syussinti">出身地 : </label>
        <select name="syussinti">
            <option value={{ post.syussinti }} selected>{{ post.syussinti }}</option>
            <option value="北海道">北海道</option>
            <option value="青森県">青森県</option>
            <option value="岩手県">岩手県</option>
            <option value="宮城県">宮城県</option>
            <option value="秋田県">秋田県</option>
            <option value="山形県">山形県</option>
            <option value="福島県">福島県</option>
            <option value="茨城県">茨城県</option>
            <option value="栃木県">栃木県</option>
            <option value="群馬県">群馬県</option>
            <option value="埼玉県">埼玉県</option>
            <option value="千葉県">千葉県</option>
            <option value="東京都">東京都</option>
            <option value="神奈川県">神奈川県</option>
            <option value="新潟県">新潟県</option>
            <option value="富山県">富山県</option>
            <option value="石川県">石川県</option>
            <option value="福井県">福井県</option>
            <option value="山梨県">山梨県</option>
            <option value="長野県">長野県</option>
            <option value="岐阜県">岐阜県</option>
            <option value="静岡県">静岡県</option>
            <option value="愛知県">愛知県</option>
            <option value="三重県">三重県</option>
            <option value="滋賀県">滋賀県</option>
            <option value="京都府">京都府</option>
            <option value="大阪府">大阪府</option>
            <option value="兵庫県">兵庫県</option>
            <option value="奈良県">奈良県</option>
            <option value="和歌山県">和歌山県</option>
            <option value="鳥取県">鳥取県</option>
            <option value="島根県">島根県</option>
            <option value="岡山県">岡山県</option>
            <option value="広島県">広島県</option>
            <option value="山口県">山口県</option>
            <option value="徳島県">徳島県</option>
            <option value="香川県">香川県</option>
            <option value="愛媛県">愛媛県</option>
            <option value="高知県">高知県</option>
            <option value="福岡県">福岡県</option>
            <option value="佐賀県">佐賀県</option>
            <option value="長崎県">長崎県</option>
            <option value="熊本県">熊本県</option>
            <option value="大分県">大分県</option>
            <option value="宮崎県">宮崎県</option>
            <option value="鹿児島県">鹿児島県</option>
            <option value="沖縄県">沖縄県</option>
            </select>
    </div>

    <details>
        <summary>趣味(折りたたみ)</summary>
    <div class="form-group pb-3">
        <label for="hobby1">hobby1 : </label>
        <input type="text" class="form-control" name="hobby1" value={{ post.hobby1 }}>
    </div>
    <div class="form-group pb-3">
        <label for="hobby2">hobby2 : </label>
        <input type="text" class="form-control" name="hobby2" value={{ post.hobby2 }}>
    </div>
    <div class="form-group pb-3">
        <label for="hobby3">hobby3 : </label>
        <input type="text" class="form-control" name="hobby3" value={{ post.hobby3 }}>
    </div>
    <div class="form-group pb-3">
        <label for="hobby4">hobby4 : </label>
        <input type="text" class="form-control" name="hobby4" value={{ post.hobby4 }}>
    </div>
    <div class="form-group pb-3">
        <label for="hobby5">hobby5 : </label>
        <input type="text" class="form-control" name="hobby5" value={{ post.hobby5 }}>
    </div>
    </details>

    <!--得意なことや長所　を入れてもらう(教科など)-->
    <div class="form-group pb-3">
        <label for="tokui1">得意分野・長所1 : </label>
        <input type="text" class="form-control" name="tokui1" value={{ post.tokui1 }}>
        <small id="name-help" class="form-text text-muted">得意分野や長所を入力してください。</small>
    </div>

    <!--好きなものの具体名　曲名、食べ物などを入れてもらう
    <div class="form-group pb-3">
        <label for="like1">好物の具体名(曲名など)1 : </label>
        <input type="text" class="form-control" name="like1" value={{ post.like1 }}>
        <small id="name-help" class="form-text text-muted">好物の具体名(曲名・食べ物など)を入力してください。</small>
    </div> -->

    <!--行きたい場所を入れてもらう-->
    <div class="form-group pb-3">
        <label for="destination1">行きたい場所1: </label>
        <input type="text" class="form-control" name="destination1" value={{ post.destination1 }}>
    </div>

    <div class="form-group pb-3">
        <label for="detail">詳細 : </label>
        <input type="text" class="form-control" name="detail" value={{ post.detail }}>
        <small id="name-help" class="form-text text-muted">タグでは紹介しきれないことを入力してください。</small>
    </div>

    <!--悩み、グループメンバーに相談したいことを入れてもらう-->
    <div class="form-group pb-3">
        <label for="sodan1">相談1 : </label>
        <input type="text" class="form-control" name="sodan1" value={{post.sodan1}}>
        <small id="name-help" class="form-text text-muted">グループメンバーに相談したいことを入力してください。</small>
    </div>
</form>
{% endblock %}